<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArelULJPw3cdTOdOMabSh-EEjepVdqcs0</string>
	<key>GCM_SENDER_ID</key>
	<string>77843855143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deltrix.picstools</string>
	<key>PROJECT_ID</key>
	<string>picstools-57173</string>
	<key>STORAGE_BUCKET</key>
	<string>picstools-57173.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77843855143:ios:00a298f640ecf0e079db02</string>
</dict>
</plist>